node_modules
.pnpm-store
.turbo

dist
build
.svelte-kit
.vercel
.next
out
.source

.env*

/test-results/
**/playwright-report/**
/playwright/.cache/
/apps/benchmark/.benchmark-results/
/.cache/benchmark-act/

todo.md

/vendor/
